exec/am5f5b7r0_beres_cqa_compile.x

exec/atmos_drivers/*
!exec/atmos_drivers/Makefile

exec/am5_phys/*
!exec/am5_phys/Makefile

exec/FMS/*
!exec/FMS/Makefile

exec/FMScoupler/*
!exec/FMScoupler/Makefile

exec/GFDL_atmos_cubed_sphere/*
!exec/GFDL_atmos_cubed_sphere/Makefile

exec/icebergs/*
!exec/icebergs/Makefile

exec/ice_param/*
!exec/ice_param/Makefile

exec/land_lad2/*
!exec/land_lad2/Makefile

exec/MOM6/*
!exec/MOM6/Makefile

exec/SIS2/*
!exec/SIS2/Makefile

run/*
!run/data_table
!run/diag_table
!run/field_table
!run/input.nml
!run/RESTART/*
!run/INPUT/*
